
.container{
    margin: 100px auto;
    background-color: rgb(59, 110, 117);
    height: 400px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 1px 3px 7px black;
}

.temp{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top:30px;
    margin: 70px auto;
    font-size: 3rem;
    color: white;
    border:5px solid white;
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

.cold{
    background-color: rgb(62, 135, 177);
}

.hot{
    background-color: rgb(179, 26, 110);
}


.buttonwraper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.button1{
    background-color: slateblue;
    border-radius: 50%;
    padding: 30px;
    font-size: 30px;
    border:3px solid white;
    
}
.button2{
    background-color: slateblue;
    border-radius: 50%;
    font-size: 30px;
    padding: 30px;
    border:3px solid white;
    
}
